@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;700&display=swap');
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
:root{
    --base:#7682EF;
    --orangebtn:#FF544B;

  }
html{
    scrollbar-gutter: stable;
}
body{
    background-color: #f6f6f6;
    min-height: 100vh;
    overflow-x: hidden;
    font-family: 'Be Vietnam Pro', sans-serif;
    
}
.mc-table__weekday,.mc-btn--success{
    color: var(--base) !important; 
}
.mc-date--active.mc-date--picked{
    background-color: var(--base) !important;
}


.mbsc-avatar{
    width: 2.5rem;
    height: 2.5rem;
    padding: 0;
    border-radius: 1.25rem;
}





@media(max-width:768px){
    #CreatePatient-content{
        width: 100%;
        margin: 0;
    }

}


.profile-button-circle{
    height: 8.125rem;
    width: 8.125rem;
    background-color: #dddddc;
    border: 0.0625rem solid #dddddc;
    border-radius: 50%;
}
textarea {
    resize: none;
 }
.textarea{
    border:0.0625rem solid #CED4DA;
    border-radius: 0.1875rem;
}
.textarea:focus {
    outline: none !important;
    border:0.0625rem solid var(--base);
    box-shadow: 0 0 0.625rem #719ECE;
  }
.cp-btn{
    background-color: var(--base);
    padding: 0.3125rem 3.125rem;
    color: white;
    border-radius: 1.875rem;
}
.cp-btn:hover{
    transition: all 0.25s ;
    background-color: white !important;
    box-shadow: 0 0 0.625rem var(--base) !important;
    color:var(--base)
}

.progressbar{
    height: 0.625rem;
    width: 33%;
    background-color: #E7E6E6;
    padding: 0 !important;
    margin: 0 !important;
}
.progressbar-divider{
    background-color: white;
    width: 0.5%;
    height: 0.625rem;
    padding: 0 !important;
}
.progressbar-active{
    background-color: var(--base);
}

@media(max-width:84.375rem){
    .cp-fontsizemediaquery{
        font-size: 0.5625rem !important;
        white-space: nowrap;
    }
    .form-control-sm {
        font-size: 0.625rem;
    }
}
/* .form-select-sm ,.form-control-sm{
    font-size: 12px !important;
} */
.form-select-sm,.form-control-sm{
    width: 100%;
}
.add-btn{
    background-color: var(--orangebtn);
    border: 0;
    border-radius: 0;
}
.labreportimgdiv{
    height: 12.5rem;
    background-color: #F9F8F8;
}
.leftarrow{
    border-radius: 100%;
    
}
.leftarrow:hover{
background-color: var(--base);
color: white;
}
label{
    white-space: nowrap !important;
}
.showing-of{
    font-size: 1rem;
    text-decoration: underline;
    text-align: end;
    margin-top: 20px;
    color:var(--base);
    clear: right;
}


/* avatar-uploader-css !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

.profile-user-img {
    width: 7.8125rem;
    height: 7.8125rem;
    -webkit-box-shadow: 0rem 0.125rem 0.25rem 0rem rgba(0, 0, 0, 0.12);
            box-shadow: 0rem 0.125rem 0.25rem 0rem rgba(0, 0, 0, 0.12);
  }
  
  .avatar-preview img {
    width: 7.8125rem;
    height: 7.8125rem;
    aspect-ratio: 1;
    -o-object-fit: cover;
       object-fit: cover;
    /* outline: 0.3125rem solid var(--base);
    outline-offset: -0.0625rem; */
  }
  
  .avatar-upload {
    position: relative;
    max-width: 12.8125rem;
    margin: auto;
    margin-bottom: 1.25rem;
  }
  
  .avatar-upload .avatar-edit {
    position: absolute;
    right: -0.125rem;
    z-index: 1;
    top: 5.625rem;
  }
  
  .avatar-upload .avatar-edit input {
    display: none;
  }
  
  .avatar-upload .avatar-edit input + label {
    display: inline-block;
    width: 2.125rem;
    height: 2.125rem;
    margin-bottom: 0;
    border-radius: 100%;
    background: #FFFFFF;
    border: 0.0625rem solid #d2d6de;
    -webkit-box-shadow: 0rem 0.125rem 0.25rem 0rem rgba(0, 0, 0, 0.12);
            box-shadow: 0rem 0.125rem 0.25rem 0rem rgba(0, 0, 0, 0.12);
    cursor: pointer;
    font-weight: normal;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }
  
  .avatar-upload .avatar-edit input + label:hover {
    background: #f1f1f1;
    border-color: #d6d6d6;
  }
  
  .avatar-upload .avatar-edit input + label:after {
    content: "\f030";
    font-family: 'FontAwesome';
    color: #337AB7;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    line-height: 2rem;
    margin: auto;
  }  

/* multiple-image-uploader-css */
.image_container {
    height: 120px;
    width: 95px;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px;
    flex-shrink: 0;
}

.image_container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.image_container span {
    top: -6px;
    right: 8px;
    color: red;
    font-size: 28px;
    font-weight: normal;
    cursor: pointer;
}

/* form-validation-css */
.invalid-feedback {
    display: block;
    width: 100%;
    margin: 0 !important;
    font-size: 80%;
    color: red;
    font-weight: lighter;
    text-align: end;
    font-style: oblique;
}

/* multi-form-routing-css ,progress bar , buttons and more*/


#msform {
    text-align: center;
    position: relative;
    margin-top: 20px
}

#msform fieldset {
    border: 0 none;
    border-radius: 0.5rem;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding-bottom: 20px;
    position: relative
}

.form-card {
    text-align: left
}

#msform fieldset:not(:first-of-type) {
    display: none
}



#msform .action-button {
    width: 100px;
    background: #7682EF;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 50px 0px 10px 5px;
    float: right
}

 #msform .action-button:hover,
#msform .action-button:focus {
    background-color: #311B92
} 

#msform .action-button-previous {
    width: 100px;
    background: #616161;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 50px 5px 10px 5px;
    float: right
} 

 #msform .action-button-previous:hover,
#msform .action-button-previous:focus {
    background-color: #000000
} 

.card {
    z-index: 0;
    border: none;
    position: relative
}


#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    color: lightgrey
}



.progress {
    height: 20px
}

.progress-bar {
    background-color: #7682EF;
}

