@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;700&display=swap');

:root{
    --base:#7682EF;
    --orangebtn:#FF544B;
  }
body{
    background-color: #f6f6f6;
    min-height: 100vh;
    overflow-x: hidden;
    font-family: 'Be Vietnam Pro', sans-serif;
}



.mbsc-avatar{
    width: 2.5rem;
    height: 2.5rem;
    padding: 0;
    border-radius: 1.25rem;
}

.md-custom-event-img {
    width: 1.5625rem;
    height: 1.5625rem;
    margin: 0 0.125rem;
}

#done{
    color: #7782ee;
    background-color: #e4e7fe;
}

#running{
    color:#f86459;
    background-color: #fbbfbb;
}
#waiting{
    color:#756d6d;
    background-color: #d5d4d4;
}

.fc .fc-timegrid-slot-minor {
    border-top-style: hidden !important;
}
.fc .fc-view-harness {
    flex-grow: 1;
    background-color: white;
    position: relative;}

.fc-direction-ltr .fc-toolbar > * > :not(:first-child) {
        margin-left: .75em;
        background-color: white;
        color: black;
        border: 0 !important;
        /* font-size: 18px; */
}
.fc .fc-button:not(:disabled) {
        cursor: pointer;
        color: black;
        background: white;
        border: 0 !important;
        box-shadow: rgba(0, 0, 0, 0.18) 0rem 0.125rem 0.25rem;
}
.fc .fc-button-primary:not(:disabled):active, .fc .fc-button-primary:not(:disabled).fc-button-active {
color: #fff;
color: var(--fc-button-text-color, #fff);
background-color: #1a252f;
background-color: var(--fc-button-active-bg-color, #7682EF);
border-color: #151e27;
border-color: var(--fc-button-active-border-color, #7682EF);
}

.fc .fc-col-header-cell-cushion {
display: inline-block;
padding: 0.125rem 0.25rem;
color: #7682EF;
text-decoration: none;
}

.fc .fc-view-harness {
flex-grow: 1;
background-color: white;
position: relative;
box-shadow: rgb(0 0 0 / 18%) 0rem 0.125rem 0.25rem;
}

.fc .fc-scrollgrid {
border-collapse: separate;
border-right-width: 0;
border-bottom-width: 0;
border-radius: 0.625rem;
border: none;
}
.fc .fc-scrollgrid-section > td {
height: 0.0625rem;
border: 0 !important;
}
.fc-day-today
{
background-color:#f8f8ff !important;
}
.fc-today-button{
box-shadow: rgba(0, 0, 0, 0.18) 0rem 0.125rem 0.25rem;
}
.fc-col-header-cell{
padding: 0.375rem 0.0625rem  !important;
}

.fc-col-header-cell:last-child{
border: 0 0 auto auto !important;
}
.fc-timegrid-slot{
border: 0 !important;
}
.fc-timegrid::-webkit-scrollbar {
display: none;
} 
.fc-timegrid {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}

.fc-dayGridMonth-view::-webkit-scrollbar {
display: none;
}
.fc-dayGridMonth-view{
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}


.fc-event-main b, i{
margin-top: 0.625rem;
font-size: 0.75rem;
display: block;
text-align: center;
}
.fc-event-main i{
font-size: 0.9375rem;
font-style: normal;
}
.fc-col-header-cell-cushion,.fc-timegrid-slot-label-cushion{
font-size: 0.75rem;
}

@media(max-width:768px){
.fc-col-header-cell-cushion,.fc-timegrid-slot-label-cushion{
    font-size: 0.625rem;
    padding:0.125rem 0.0625rem !important;
}
.fc-scrollgrid-sync-inner{
    display: inline-block;
    text-align: center;
}
.fc-col-header-cell-cushion{
    display: table-caption !important;
    
}

.fc-event-main b{
    font-size: 0.625rem;
}
.fc-event-main i{
    font-size: 0.625rem;
}
.fc-header-toolbar{
    font-size: 0.625rem !important;
}
.departmentdetailsfontsize{
    font-size: 0.625rem !important;
}

}




.fc-scroller::-webkit-scrollbar {
width: 0.8125rem;
height: 0.8125rem;
background-color: rgba(245, 245, 245, 0.712);
}

.fc-scroller::-webkit-scrollbar-track {

background: transparent;
}

.fc-scroller::-webkit-scrollbar-thumb {
background-color: rgba(131, 124, 124, 0.274);
}

.fc-scroller::-webkit-scrollbar-corner{
background-color: gray;
}
.fc-scroller::-webkit-scrollbar-thumb:hover {

background-color: var(--base);

}


.fc-theme-standard th:nth-last-child(1) {
    border-right:0rem solid var(--fc-border-color, #ddd);
  }