@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;700&display=swap');
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
:root{
    --base:#7682EF;
    --orangebtn:#FF544B;

  }
html{
    scrollbar-gutter: stable;
}
body{
    background-color: #f6f6f6;
    min-height: 100vh;
    overflow-x: hidden;
    font-family: 'Be Vietnam Pro', sans-serif;
    
}
.mc-table__weekday,.mc-btn--success{
    color: var(--base) !important; 
}
.mc-date--active.mc-date--picked{
    background-color: var(--base) !important;
}


.mbsc-avatar{
    width: 2.5rem;
    height: 2.5rem;
    padding: 0;
    border-radius: 1.25rem;
}





@media(max-width:768px){
    #CreatePatient-content{
        width: 100%;
        margin: 0;
    }

}


.profile-button-circle{
    height: 8.125rem;
    width: 8.125rem;
    background-color: #dddddc;
    border: 0.0625rem solid #dddddc;
    border-radius: 50%;
}
textarea {
    resize: none;
 }
.textarea{
    border:0.0625rem solid #CED4DA;
    border-radius: 0.1875rem;
}
.textarea:focus {
    outline: none !important;
    border:0.0625rem solid var(--base);
    box-shadow: 0 0 0.625rem #719ECE;
  }
.cp-btn{
    background-color: var(--base);
    padding: 0.3125rem 3.125rem;
    color: white;
    border-radius: 1.875rem;
}
.cp-btn:hover{
    transition: all 0.25s ;
    background-color: white !important;
    box-shadow: 0 0 0.625rem var(--base) !important;
    color:var(--base)
}

.progressbar{
    height: 0.625rem;
    width: 33%;
    background-color: #E7E6E6;
    padding: 0 !important;
    margin: 0 !important;
}
.progressbar-divider{
    background-color: white;
    width: 0.5%;
    height: 0.625rem;
    padding: 0 !important;
}
.progressbar-active{
    background-color: var(--base);
}

@media(max-width:84.375rem){
    .cp-fontsizemediaquery{
        font-size: 0.5625rem !important;
        white-space: nowrap;
    }
    .form-control-sm {
        font-size: 0.625rem;
    }
}
/* .form-select-sm ,.form-control-sm{
    font-size: 12px !important;
} */
.form-select-sm,.form-control-sm{
    width: 100%;
}
.add-btn{
    background-color: var(--orangebtn);
    border: 0;
    border-radius: 0;
}
.labreportimgdiv{
    height: 12.5rem;
    background-color: #F9F8F8;
}
.leftarrow{
    border-radius: 100%;
    
}
.leftarrow:hover{
background-color: var(--base);
color: white;
}
label{
    white-space: nowrap !important;
}
.call-history{
    height: 6.25rem ;
    width: 11.25rem;
    background-color: var(--base);
    object-fit: cover;
    border-radius: 0.625rem;
    position: relative;
    cursor: pointer;
}
.call-history::before{
    content: '\f144';
    font-family: 'FontAwesome';
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    line-height:2rem;
    font-size: 2rem;
    margin: auto;
}
/* multiple-image-uploader-css */
.image_container {
    height: 7.5rem;
    width: 5.9375rem;
    border-radius: 0.625rem;
    overflow: hidden;
    margin: 0.625rem;
    flex-shrink: 0;
}

.image_container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.image_container span {
    top: -0.375rem;
    right: 0.5rem;
    color: red;
    font-size: 1.75rem;
    font-weight: normal;
    cursor: pointer;
}
